# Name: TimelapseReg

# Raghavender Sahdev
# Centre for Vision Research
# York University, Toronto, Canada

# Daniel Sage
# Biomedical Imaging Group
# Ecole Polytechnique Federale de Lausanne (EPFL), Lausanne, Switzerland

# Date: 05 September 2015

Plugins>TimelapseReg, "TimelapseReg ", TimelapseReg_
Plugins>TimelapseReg, "Drift Simulation ", Drift_Simulation
Plugins>TimelapseReg, "TimelapseReg Align", TimelapseReg_Align
